<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <title>SK Shop</title>
  </head>
    <body>
      <div class="jumbotron">
        <div class="container text-center">
          <h1>Online Store</h1>      
          <p>Mission, Vission & Values</p>
        </div>
      </div>
      
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#">Logo</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">Products</a></li>
              <li><a href="#">Deals</a></li>
              <li><a href="#">Stores</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container-fluid" style="width: 1349px; height: 1053px;">
        <div class="co-8" style="width: 1300px; height: 1053px;"> 
          <div class="row" style="width: 1300px; height: 1053px;">
            <section class="product-constructor" style="width: 1300px; height: 1053px;">
              <div id="constructor-page" style="width: 1300px; height: 992px;">
                <div  class="row" style="width: 1210px; height: 992px;">
                  <div class="co-12" style="width: 1300px; height: 992px;">
                    <div class="main-constructor-holder" style="width: 1200px; height: 992px;">
                      <div class="rowMain" style="width: 1300px; height: 590px;">
                        <div class="col-md-7 product-constructor__images-holder" id="product-constructor_images"    style="width: 705.83px; height: 590px">
                          <div class="co-2 hidden-xs hidden-sm" style="width: 115.97px; height: 182px;">
                            <div class="product-constructor__sides-holder" style="width: 105.97px; height: 182px;">
                              <ul class="product-constructor__sides-list" style="width: 86px; height: 182px;">
                                <li class="product-constructor__side-item active"  id="lisf" style="width: 86px; height: 86px;" data-white="mainWhiteF.png" data-red="redF.png" data-black="blackF.png" data-brown="brownF.png" data-green="greenF.png" data-grey="greyF.png">
                                  <img class="product-constructor__side-preview" id="smallFront" src="smallWhiteF.png" title="Front" style="width: 75px; height: 75px;">
                                </li>
                                <li class="product-constructor__side-item" id="lisb" data-white="mainWhiteB.png" data-red="redB.png" data-black="blackB.png" data-brown="brownB.png" data-green="greenB.png" data-grey="greyB.png">
                                  <img class="product-constructor__side-preview" id="smallBack" src="smallWhiteB.png" title="Back" style="width: 75px; height: 75px;">
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="co-9" style="width: 521.86px; height: 590px;">
                            <div class="product-constructor__container" style=" height: 511.86px; width: 522px;">
                              <div class="product-constructor__canvas-holder" id="constructor-container" style="width: 511.86px; height: 512px;">
                                <div class="canvas-container" style="width: 512px; height: 512px; position: relative; user-select: none;">
                                  <img class="product-constructor__main" id="main" src="mainWhiteF.png" title="main">
                                </div>
                              </div>
                              <div class="add-buttons" id="big-add-buttons" style="width: 400.86px; height: 48px;">
                                <button class="add-button add-img">
                                  <i class="fa fa-picture-0 add-button__fa" aria-hidden="true" style="width: 21.44; height: 20;"></i>
                                  Add Photo
                                </button>
                                <button class="add-button add-txt" id="text-control-text-add">
                                  <i class="fa fa-font add-button__fa" aria-hidden="true"></i>
                                  Add Text
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-5" >
                          <div class="product-constructor__info" >
                            <div class="product-title" style="width: 494.16px; height: 20px;">
                              <span class="product-constructor__info-model">Man Style</span>
                            </div>
                          </div>
                          <div class="product-price" style="width: 494.16px; height: 80px;">
                            <div class="product-price__holder" id="price-holder-price" style="width: 494.16px; height: 60px;">
                              <div class="product-price-current">
                                <span class="product-price-current__value" id="price">Actual Price</span>
                                <span class="product-price-current__currency">Currency</span>
                              </div>
                            </div>
                          </div>
                          <div class="product-constructor__holders-wrapper" style="width: 494.16px; height: 190px;">
                            <div style="width: 494.16px; height: 80px">
                              <span class="product-constructor__size-title">Sizes</span>
                              <ul class="product-constructor__sizes-list" style="width: 494.16px; height: 42px;">
                                <li class="product-constructor__sizes-item" >
                                    <span class="product-constructor__size-title">L</span>
                                </li>
                                <li class="product-constructor__sizes-item" >
                                  <span class="product-constructor__size-title">XL</span>
                                </li>
                                <li class="product-constructor__sizes-item">
                                  <span class="product-constructor__size-title">XXL</span>
                                </li>
                                <li class="product-constructor__sizes-item">
                                  <span class="product-constructor__size-title">XXXL</span></li>
                              </ul>
                            </div>
                            <div  class="box" style="width: 494.16px; height: 110px;">
                              <span class="product-constructor__background-type">Colors</span>
                              <div id="list" class="product-constructor__color-list" style="width: 494.16px; height: 72px;">
                                <!--<div class="product-constructor__color-item active" id="white" style="background-color: white" data-liSF="mainWhiteF.png" data-liSB="mainWhiteB.png" data-sF="smallWhiteF.png" data-sB="smallWhiteB.png">
                                </div>
                                <div class="product-constructor__color-item" id="red" style="background-color: red" data-liSF="redF.png" data-liSB="redB.png" data-sF="smallRedF.png" data-sB="smallRedB.png">
                                </div>
                                <div class="product-constructor__color-item" id="black" style="background-color: black" data-liSF="blackF.png" data-liSB="blackB.png" data-sF="smallBlackF.png" data-sB="smallBlackB.png">
                                </div>
                                <div class="product-constructor__color-item" id="brown" style="background-color: brown" data-liSF="brownF.png" data-liSB="brownB.png" data-sF="smallBrownF.png" data-sB="smallBrownB.png">
                                </div>
                                <div class="product-constructor__color-item" id="green" style="background-color: green" data-liSF="greenF.png" data-liSB="greenB.png" data-sF="smallGreenF.png" data-sB="smallGreenB.png">
                                </div>
                                <div class="product-constructor__color-item" id="grey" style="background-color: gray" data-liSF="greyF.png" data-liSB="greyB.png" data-sF="smallGreyF.png" data-sB="smallGreyB.png">
                                </div>-->
                              </div>
                            </div>
                          </div>
                          <form  id="myForm">
                              <input type="text" class="left" name="quantity" id="quantity"  placeholder="1" style="width: 100px;"> 
                              <br/>
                              <input type="submit" class="btn btn-primary" id="myBut" value="Add To Cart" >
                          </form>
                          </div>
                        </div>
                      </div>
                      <div class="row" style="width: 1210; height: 402">

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div><br>


      
      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
      <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

      <script src="index.js" type="text/javascript"></script>
      <footer class="container-fluid bg-4 text-center" style="position: absolute; bottom: 0; width: 100%; height: 60px; background-color: #2f2f2f; color: #ffffff; padding: 25px">
        <p>Bootstrap Theme Made By </p> 
      </footer>
    </body>
</html>